.row {
  display: block;
  width: 100%;
  clear: both;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px; }

/* default: */
[class*='col-'] {
  float: left;
  width: 100%; }
  [class*='col-'] img {
    max-width: 100%;
    width: 100%; }

/* for mobile: */
@media (max-width: 480px) {
  .hidden-xs {
    display: none !important; } }

@media (max-width: 480px) {
  .visible-xs {
    display: inherit !important; } }

@media (min-width: 480px) {
  .col-xs-1 {
    float: left;
    width: 8.33%; }
    .col-xs-1 img {
      width: auto; }
  .col-xs-2 {
    float: left;
    width: 16.66%; }
    .col-xs-2 img {
      width: auto; }
  .col-xs-3 {
    float: left;
    width: 25%; }
    .col-xs-3 img {
      width: auto; }
  .col-xs-4 {
    float: left;
    width: 33.33%; }
    .col-xs-4 img {
      width: auto; }
  .col-xs-5 {
    float: left;
    width: 41.66%; }
    .col-xs-5 img {
      width: auto; }
  .col-xs-6 {
    float: left;
    width: 50%; }
    .col-xs-6 img {
      width: auto; }
  .col-xs-7 {
    float: left;
    width: 58.33%; }
    .col-xs-7 img {
      width: auto; }
  .col-xs-8 {
    float: left;
    width: 66.6%; }
    .col-xs-8 img {
      width: auto; }
  .col-xs-9 {
    float: left;
    width: 75%; }
    .col-xs-9 img {
      width: auto; }
  .col-xs-10 {
    float: left;
    width: 83.33%; }
    .col-xs-10 img {
      width: auto; }
  .col-xs-11 {
    float: left;
    width: 91.66%; }
    .col-xs-11 img {
      width: auto; }
  .col-xs-12 {
    float: left;
    width: 100%; }
    .col-xs-12 img {
      width: auto; } }

/* for tablet: */
@media (max-width: 768px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 768px) {
  .visible-sm {
    display: inherit !important; } }

@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33%; }
    .col-sm-1 img {
      width: auto; }
  .col-sm-2 {
    float: left;
    width: 16.66%; }
    .col-sm-2 img {
      width: auto; }
  .col-sm-3 {
    float: left;
    width: 25%; }
    .col-sm-3 img {
      width: auto; }
  .col-sm-4 {
    float: left;
    width: 33.33%; }
    .col-sm-4 img {
      width: auto; }
  .col-sm-5 {
    float: left;
    width: 41.66%; }
    .col-sm-5 img {
      width: auto; }
  .col-sm-6 {
    float: left;
    width: 50%; }
    .col-sm-6 img {
      width: auto; }
  .col-sm-7 {
    float: left;
    width: 58.33%; }
    .col-sm-7 img {
      width: auto; }
  .col-sm-8 {
    float: left;
    width: 66.6%; }
    .col-sm-8 img {
      width: auto; }
  .col-sm-9 {
    float: left;
    width: 75%; }
    .col-sm-9 img {
      width: auto; }
  .col-sm-10 {
    float: left;
    width: 83.33%; }
    .col-sm-10 img {
      width: auto; }
  .col-sm-11 {
    float: left;
    width: 91.66%; }
    .col-sm-11 img {
      width: auto; }
  .col-sm-12 {
    float: left;
    width: 100%; }
    .col-sm-12 img {
      width: auto; } }

/* for desktop: */
@media (max-width: 992px) {
  .hidden-md {
    display: none !important; } }

@media (max-width: 992px) {
  .visible-md {
    display: inherit !important; } }

@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33%; }
    .col-md-1 img {
      width: auto; }
  .col-md-2 {
    float: left;
    width: 16.66%; }
    .col-md-2 img {
      width: auto; }
  .col-md-3 {
    float: left;
    width: 25%; }
    .col-md-3 img {
      width: auto; }
  .col-md-4 {
    float: left;
    width: 33.33%; }
    .col-md-4 img {
      width: auto; }
  .col-md-5 {
    float: left;
    width: 41.66%; }
    .col-md-5 img {
      width: auto; }
  .col-md-6 {
    float: left;
    width: 50%; }
    .col-md-6 img {
      width: auto; }
  .col-md-7 {
    float: left;
    width: 58.33%; }
    .col-md-7 img {
      width: auto; }
  .col-md-8 {
    float: left;
    width: 66.6%; }
    .col-md-8 img {
      width: auto; }
  .col-md-9 {
    float: left;
    width: 75%; }
    .col-md-9 img {
      width: auto; }
  .col-md-10 {
    float: left;
    width: 83.33%; }
    .col-md-10 img {
      width: auto; }
  .col-md-11 {
    float: left;
    width: 91.66%; }
    .col-md-11 img {
      width: auto; }
  .col-md-12 {
    float: left;
    width: 100%; }
    .col-md-12 img {
      width: auto; } }

/* for widescreen: */
@media (max-width: 1100px) {
  .hidden-lg {
    display: none !important; } }

@media (max-width: 1100px) {
  .visible-lg {
    display: inherit !important; } }

@media (min-width: 1100px) {
  .col-lg-1 {
    float: left;
    width: 8.33%; }
    .col-lg-1 img {
      width: auto; }
  .col-lg-2 {
    float: left;
    width: 16.66%; }
    .col-lg-2 img {
      width: auto; }
  .col-lg-3 {
    float: left;
    width: 25%; }
    .col-lg-3 img {
      width: auto; }
  .col-lg-4 {
    float: left;
    width: 33.33%; }
    .col-lg-4 img {
      width: auto; }
  .col-lg-5 {
    float: left;
    width: 41.66%; }
    .col-lg-5 img {
      width: auto; }
  .col-lg-6 {
    float: left;
    width: 50%; }
    .col-lg-6 img {
      width: auto; }
  .col-lg-7 {
    float: left;
    width: 58.33%; }
    .col-lg-7 img {
      width: auto; }
  .col-lg-8 {
    float: left;
    width: 66.6%; }
    .col-lg-8 img {
      width: auto; }
  .col-lg-9 {
    float: left;
    width: 75%; }
    .col-lg-9 img {
      width: auto; }
  .col-lg-10 {
    float: left;
    width: 83.33%; }
    .col-lg-10 img {
      width: auto; }
  .col-lg-11 {
    float: left;
    width: 91.66%; }
    .col-lg-11 img {
      width: auto; }
  .col-lg-12 {
    float: left;
    width: 100%; }
    .col-lg-12 img {
      width: auto; } }

@keyframes zoo_slide_unfold_X {
  0% {
    z-index: 2;
    transform: rotateY(-180deg);
    filter: grayscale(1); }
  35% {
    filter: grayscale(1); }
  50% {
    filter: grayscale(0); }
  100% {
    z-index: 2;
    transform: rotateY(0deg);
    filter: grayscale(0); } }

@keyframes zoo_slide_unfold_Y {
  from {
    transform: rotateX(180deg) rotateY(180deg); }
  to {
    transform: rotateX(0deg) rotateY(180deg);
    visibility: hidden; } }

@keyframes zoo_slide_settle {}@keyframes settle_A {
  0% {
    transform: rotate(-15deg); }
  90% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes settle_B {
  0% {
    transform: rotate(35deg); }
  90% {
    transform: rotate(35deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes zoo_slide_quarter_cover {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }

@keyframes slide_in_top {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes slide_in_left {
  0% {
    transform: translateX(-100%); }
  20% {
    transform: translateX(40%); }
  40% {
    transform: translateX(60%); }
  100% {
    transform: translateX(0); } }

.zoo-slides-flex-jc_center {
  display: flex;
  justify-content: center;
  user-select: none; }

.zoo-slides-container-wrap {
  display: block;
  float: left;
  width: 100%;
  padding: 0 15px 0 23px;
  overflow: hidden;
  background: #222;
  animation: slide_in_top .5s; }
  @media (max-width: 480px) {
    .zoo-slides-container-wrap {
      animation-duration: 0s; } }
  .zoo-slides-container-wrap .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }

.zoo-slides-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5.5px; }
  .zoo-slides-container:nth-of-type(odd) {
    animation: settle_A 3s; }
  .zoo-slides-container:nth-of-type(even) {
    animation: settle_B 3s; }
  .zoo-slides-container .zoo-slide-wrapper {
    flex-grow: 0;
    /* -----------------------------------------------------------------------------
		  IMPORTANT NOTE: If we want the images to grow beyond their actual width then
		  flex-grow should be set to 1, and the images must be given a width of 100%
		-------------------------------------------------------------------------------- */
    visibility: hidden;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    /* -- NOTE --
			the 'perspective' property can be removed if it produces
			unexpected results on certain browsers
		 */
    perspective: 2500px; }
    @media (max-width: 480px) {
      .zoo-slides-container .zoo-slide-wrapper {
        flex-grow: 1; } }
    .zoo-slides-container .zoo-slide-wrapper.ready {
      visibility: visible; }
    .zoo-slides-container .zoo-slide-wrapper canvas {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      z-index: 1;
      /* ------------------------------------ */
      /* this needs to be set after animation */
      /* ------------------------------------ */ }
      .zoo-slides-container .zoo-slide-wrapper canvas.fold-x {
        left: 50%;
        height: calc(100% - 4px);
        /* to correct for 4px auto margin/padding after image elements */
        transform-origin: left;
        transform: rotateY(-180deg);
        animation: 1s ease forwards;
        filter: grayscale(1); }
      .zoo-slides-container .zoo-slide-wrapper canvas.fold-y {
        top: calc(50% - 0px);
        /* to correct for 4px auto margin/padding after image elements */
        left: 0;
        height: 50%;
        transform: rotateX(180deg) rotateY(180deg);
        transform-origin: top;
        animation: .5s linear forwards;
        filter: grayscale(1);
        border-top-width: 0; }
      .zoo-slides-container .zoo-slide-wrapper canvas.hidden {
        display: none; }
      .zoo-slides-container .zoo-slide-wrapper canvas.unfold-x {
        animation-name: zoo_slide_unfold_X; }
      .zoo-slides-container .zoo-slide-wrapper canvas.unfold-y {
        animation-name: zoo_slide_unfold_Y; }
    .zoo-slides-container .zoo-slide-wrapper .half-cover {
      position: absolute;
      top: 0;
      right: -2px;
      width: 50%;
      height: calc(100% - 4px);
      /* to correct for 4px auto padding after image elements */
      background: #222;
      /* ------------------------------------ */
      /* this needs to be set after animation */
      /* ------------------------------------ */ }
      .zoo-slides-container .zoo-slide-wrapper .half-cover.hidden {
        display: none; }
    .zoo-slides-container .zoo-slide-wrapper .quarter-cover {
      position: absolute;
      z-index: 1;
      left: -2px;
      top: 50%;
      width: 100%;
      height: 50%;
      background: #222;
      animation: zoo_slide_quarter_cover .5s ease forwards;
      /* ------------------------------------ */
      /* this needs to be set after animation */
      /* ------------------------------------ */ }
      .zoo-slides-container .zoo-slide-wrapper .quarter-cover.hidden {
        display: none; }
