@keyframes zoo_slide_unfold{
	from {
		transform: rotateY(-180deg);	
	}
	to {
		transform: rotateY(0deg);		
	}
}

@keyframes slide_in_top {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide_in_left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

