@keyframes zoo_slide_unfold_X{
	0% {
		z-index: 2;
		transform: rotateY(-180deg);
		filter: grayscale(1);
	}
	35% {
		filter: grayscale(1);
	}
	50% {
		filter: grayscale(0);
	}
	100% {
		z-index: 2;
		transform: rotateY(0deg);
		filter: grayscale(0);
	}
}

@keyframes zoo_slide_unfold_Y {
	from {
		transform: rotateX(180deg) rotateY(180deg);
	}
	to {
		transform: rotateX(0deg) rotateY(180deg);
		visibility: hidden;
	}
}

@keyframes zoo_slide_settle {
	// 0% {
	// 	transform: rotate(-25deg);
	// }
	// 70%{
	// 	transform: rotate(25deg);
	// }
	// 100% {
	// 	transform: rotate(0deg);
	// }
}

@keyframes settle_A{
	0% {
		transform: rotate(-15deg);
	}
	90% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);

	}
}

@keyframes settle_B{
	0% {
		transform: rotate(35deg);
	}
	90% {
		transform: rotate(35deg);
	}
	100% {
		transform: rotate(0deg);

	}
}

@keyframes zoo_slide_quarter_cover {
	0% {
		visibility: visible;
	}
	100%{
		visibility: hidden;
	}
}


@keyframes slide_in_top {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slide_in_left {
	0% {
		transform: translateX(-100%);
	}
	20%{
		transform: translateX(40%);
	}
	40%{
		transform: translateX(60%);
	}
	100%{
		transform: translateX(0);
	}
}

