@import 'grid';
@import 'mixins';
@import 'animations';

$background-base: #222;


.zoo-slides-flex-jc_center{
	display: flex;
	justify-content: center;
	user-select: none;
}

.zoo-slides-container-wrap{
	display: block;
	float: left;
	background: $background-base;

	.row{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

		&:nth-of-type(odd){
			animation: slide_in_top .5s;
			@media(max-width: $screen-xs){
				animation-duration: 0s;
			}
		}
		&:nth-of-type(even){
			animation: slide_in_left .5s;
			@media(max-width: $screen-xs){
				animation-duration: 0s;
			}
		}
	}
}

.zoo-slides-container {
	display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 5.5px;

	.zoo-slide-wrapper {
		flex-grow: 0;
		/* -----------------------------------------------------------------------------
		  IMPORTANT NOTE: If we want the images to grow beyond their actual width then
		  flex-grow should be set to 1, and the images must be given a width of 100%
		-------------------------------------------------------------------------------- */
		visibility: hidden;
		position: relative;
		margin-left: 10px;
		margin-top: 10px;
		cursor: pointer;

		/* -- NOTE --
			the 'perspective' property can be removed if it produces
			unexpected results on certain browsers
		 */
		perspective: 2500px;

		@media(max-width: $screen-xs){
			// width: 100%;
			flex-grow: 1;
		}

		&.ready{
			visibility: visible;
		}

		// img {
		// 	max-width: 100%;

		// 	@media(max-width: $screen-xs){
		// 		width: 100%;
		// 	}

		// 	&:nth-of-type(2){

		// 		position: absolute;
		// 		top: 0;
		// 		right: 0;
		// 		width: auto;
		// 		z-index: 1;
		// 		width: 50%;
		// 		height: calc(100% - 4px); /* to correct for 4px auto margin/padding after image elements */

		// 		transform-origin: calc(0% + 5px);
		// 		transform: rotateY(-180deg);

		// 		animation: 1s linear forwards;

		// 		/* ------------------------------------ */
		// 		/* this needs to be set after animation */
		// 		&.hidden{
		// 			display: none;
		// 		}
		// 		/* ------------------------------------ */
		// 	}

		// 	&.unfold{
		// 		animation-name: zoo_slide_unfold;
		// 	}
		// }

		canvas{
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			z-index: 1;
			left: 50%;
			height: calc(100% - 4px); /* to correct for 4px auto margin/padding after image elements */

			transform-origin: calc(0% + 5px);
			transform: rotateY(-180deg);

			animation: .5s ease-out forwards;

			/* ------------------------------------ */
			/* this needs to be set after animation */
			&.hidden{
				display: none;
			}
			/* ------------------------------------ */

			&.unfold{
				animation-name: zoo_slide_unfold;
			}
		}


		.half-cover {
			position: absolute;
			top: 0;
			right: 0;
			width: calc(50% - 5px); /* to correct for 10px padding-left on zoo-slide-wrapper */
			height: calc(100% - 4px); /* to correct for 4px auto padding after image elements */
			background: $background-base;

			/* ------------------------------------ */
			/* this needs to be set after animation */
			&.hidden{
				display: none;
			}
			/* ------------------------------------ */
		}
	}
}